<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>development</string> <!-- Или app-store, если собираешь для TestFlight -->
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string>JL42FH3732</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>ankit.appsinst.indjag</key>
    <string>iApps_Pro</string>
  </dict>
</dict>
</plist>
